// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$title-font: "Oswald",
sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

.txt-light {
    color: #ffffffa9;
}

.txt-big {
    font-size: 130%;
}